<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="My Virtual Library">

        <title>tmp</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <header>
        <h1>TMP1</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
            </ul>
        </nav>   
    </header>
    <body>
        <div>
           
        </div>
    </body>




    